
# Add speculos to path for `cargo run`
export PATH=$PATH:$(pwd)/vendor/speculos/

# Use python protobuf impl to avoid dependency nightmares
export PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python

# Help cargo find `nanox` and `nanosplus` targets
export RUST_TARGET_PATH=$(pwd)/fw

# Override `gdb` for `rust-gdb`
export RUST_GDB=gdb-multiarch

# Options for mob build
export IAS_MODE=DEV
export SGX_MODE=SW

# Test mnemonic
export MNEMONIC="duck deal pretty pen thunder economy wide common goose fit engine main aisle curtain choose cube claim snake enroll detect brief history float unit"
