[submodule "vendor/rs"]
	path = vendor/rs
	url = ../../ryankurte/ledger-rs.git
[submodule "vendor/mob"]
	path = vendor/mob
	url = ../../mobilecoinfoundation/mobilecoin.git
[submodule "vendor/speculos"]
	path = vendor/speculos
	url = ../../LedgerHQ/speculos.git

