
[target.nanosplus]
runner = "speculos --model nanosp --display qt -a 5 --apdu-port 1237 --zoom 2"

[target.nanox]
runner = "speculos --model nanox --display qt -a 5 --apdu-port 1237 --zoom 2"

[build]
target = "nanosplus"
rustflags = [
    "-Z", "emit-stack-sizes",
    "-Z", "share-generics=off",
    "-C", "link-args=-Map=/tmp/ledger-mob.map",
    '--cfg=curve25519_dalek_bits="32"'
]


[unstable]
build-std = [ "core", "compiler_builtins", "alloc" ]

[alias]
br = "build --release"
stackcheck = "call-stack --bin ledger-mob-fw --target nanosplus sample_main"
